.container-fluid {
    text-align: center;
    font-family: Lucida Bright, Georgia, serif;
}

.container-fluid h1,h3 {
    font-family: impact;
}

.columna-1 {
    background:#148480;
}

.container-fluid a {
    color: #148480;
}
.container-fluid td,tr,ul,li,p,a {
    padding: 5px;
}